body {
  background-color:#eafadd;
}
h1 {
  color:#0000cc;
  font-family:times new roman;
  font-size:25px;
  text-align:left;
}
p {
  color:#555555;
  font-family:verdana;
  text-align:justify;
}